$teal-red: #dd3d3d;
$light-gray: #ababab;
$natural-gray: #eeeeee;
$primary: #0D0D5D;
$secondary: #f76763;
$footer: #C8EEE6;

$colors: (
        base:(
                primary: $primary,
                secondary: $secondary
        ),

        primary-shades: (
                light : #d5dfed,
                lighter : #E8E8FA
        ),

        black-shades: (
                black : #0e0e0e,
                darkest-gray : #777777,
                dark-gray: #9A9A9A,
                gray: #dddddd,
                light-gray: #e3e4e6,
                light : #f0f1ee,
                white: #ffffff
        ),

        accent:(
                success: #22c89b,
                warning: #fed36c,
                warning60: #f5e995,
                error: #eb5353,
                error60: #f39898
        ),


        primary: $primary,
        secondary: $secondary,

        nutural: $natural-gray,
        border: (
                light: $natural-gray,
                dark: #3e3e3e
        )
);
