@font-face {
    font-family: 'PlusJakartaSans';
    src: url('PlusJakartaSans-Bold.woff2') format('woff2'),
    url('PlusJakartaSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('PlusJakartaSans-Medium.woff2') format('woff2'),
    url('PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('PlusJakartaSans-Regular.woff2') format('woff2'),
    url('PlusJakartaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('PlusJakartaSans-Light.woff2') format('woff2'),
    url('PlusJakartaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
