$section-title-gap--large: 15px;
$section-title-gap--mobile: 10px;

$header-height: 80px;
$body-height: calc(100vh - #{$header-height});
$notify-center-width: 400px;
$main-background-color: get-color(black-shades, light);

.site {
  @include grid-container();
  @include grid-template-rows($header-height $body-height);
}

.main-page {
  display: block;
  background: $main-background-color;
  @include set-breakpoint(large) {
    @include grid-container();
    @include grid-template-columns(100px auto);
  }
}

.grid-row {
  @include grid-container();
}

.grid-row-gap {
  grid-row-gap: $section-title-gap--large;
}

@include set-breakpoint(medium) {
  @for $i from 1 through 12 {
    $fr-count: null;

    @for $i from 1 through $i {
      $fr-count: $fr-count 1fr;
    }
    .grid-#{$i}-column {

      @include grid-template-columns($fr-count);
      column-gap: $section-title-gap--large;
    }

    .span-#{$i} {
      grid-area: 1 / span $i;
    }

  }
}

.flex-row {
  @include flex-box-container(row, wrap, flex-start, flex-start);
  > * {
    margin-right: $item-gap / 2;
  }
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

