* {
  box-sizing: border-box;
}

:focus{
  outline: 0;
}

body {
  overflow: auto;
  overflow-x: hidden;
  background: get-color(black-shades, white);
  font-family: 'PlusJakartaSans', sans-serif;
  font-weight: 500;
  font-size: get-font-size(p);
  line-height: 1.45;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: get-color(black-shades, light-gray);
}

::-webkit-scrollbar-thumb {
  background: get-color(black-shades, black);
}

*{
  &.disabled {
    opacity: 0.7;
    pointer-events: none;
    user-select: none;
  }
}