h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0;
}


// "h" tag specific styles
// ---------------------------------------------------------
h1 {
  font-size: get-font-size(heading, h1);
}

h2 {
  font-size: get-font-size(heading, h2);
}

h3 {
  font-size: get-font-size(heading, h3);
}

h4 {
  font-size: get-font-size(heading, h4);
}
h5 {
  font-size: get-font-size(heading, h5);
}


// "p" tag specific styles
// ---------------------------------------------------------
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
