.o-filter{
  @include grid-container($item-gap $item-gap / 2);
  @include grid-template-columns(160px auto 140px);
  padding: $item-gap $item-gap 0;
  align-items: center;
  margin-top: $item-gap;

  @include set-breakpoint(medium){
    @include grid-template-columns(190px auto 140px);
    grid-gap: $item-gap * 2;
    padding: $item-gap * 2 $item-gap * 2 0;
  }

  .searcher{
    grid-area: 2 / 1 / span 1 / span 3;

    @include set-breakpoint(medium){
      grid-area: 1 / 2 / span 1 / span 1;
    }
  }

  .filter{
    grid-area: 1 / 3 / span 1 / span 1;
    height: auto;

    @include set-breakpoint(medium){
      height: 100%;
    }
  }

  .selector{
  }

  .tabber{
    grid-area: 3 / 1 / span 1 / span 3;
  }
}