$footer-bg: #C8EEE6;

.o-footer{
  @include grid-container($item-gap);
  @include grid-template-rows(repeat(4, auto));
  @include grid-template-columns(1fr);
  padding: $item-gap * 1.5 $item-gap * 1.5 $item-gap $item-gap * 1.5 ;
  background: $footer-bg;

  .a-link{
    font-size: get-font-size(p-tiny);
  }

  @include set-breakpoint(medium){
    @include grid-template-columns(1fr 100px 1fr);
    @include grid-template-rows(repeat(2, auto));
  }

  &__extras{
    @include grid-container($item-gap);
    @include grid-template-columns(repeat(4, min-content));
    justify-content: center;

    @include set-breakpoint(medium){
      grid-area: 1 / 1 / span 1 / span 1;
      justify-content: flex-end;
      grid-gap: $item-gap * 2;
      margin-right: $item-gap * 2;
    }

    @include set-breakpoint(x-large){
      grid-gap: $item-gap * 3;
      margin-right: $item-gap * 3;
    }
  }

  &__logo{
    margin: 0 auto;
    width: 80px;
    text-align: center;

    .image{
      width: 100%;
    }

    @include set-breakpoint(medium){
      grid-area: 1 / 2 / span 1 / span 1;
    }
  }

  &__business{
    @include grid-container($item-gap);
    @include grid-template-columns(repeat(4, min-content));
    justify-content: center;

    @include set-breakpoint(medium){
      grid-area: 1 / 3 / span 1 / span 1;
      justify-content: flex-start;
      grid-gap: $item-gap * 2;
      margin-left: $item-gap * 2;
    }

    @include set-breakpoint(x-large){
      grid-gap: $item-gap * 3;
      margin-left: $item-gap * 3;
    }
  }

  &__copyright{
    text-align: center;
    font-size: get-font-size(p-tiny);
    margin: auto;

    @include set-breakpoint(medium){
      grid-area: 2 / 1 / span 1 / span 3;
    }
  }


  @include set-breakpoint(x-medium){
    .a-link{
      font-size: get-font-size(p);
    }
  }
}