.o-header {
  @include flex-box-container(row, nowrap, space-between, center);
  padding: $item-gap;
  @include box-shadow(get-color(black-shades, light-gray), 1, 5);

  &--no-bg{
    box-shadow: none;
  }

  .m-navigation {
    display: none;

    @include set-breakpoint(large) {
      display: flex;
    }
  }

  &__account {
    @include flex-box-container(row, nowrap, flex-start, center);

    .login {
      display: none;
        margin-right: $item-gap / 2;
    }

    .menu {
      display: block;
        margin-left: $item-gap;
        cursor: pointer;
        transition: opacity 0.15s linear;

        &:hover{
            opacity: 0.8;
        }
    }

    @include set-breakpoint(medium) {
      padding: $item-gap $item-gap * 2;

      .login {
        display: inline-block;
      }
    }

    @include set-breakpoint(large) {
      .menu {
        display: none;
      }
    }
  }
}