.o-shot {
  @include box-shadow(get-color(black-shades, light-gray), 1, 5);
  border-radius: $item-gap / 4;

  &__head {
    @include flex-box-container(row, nowrap, space-between, center);
    padding: $item-gap;
  }

  &__owner {
    @include flex-box-container(row, nowrap, flex-start, center);

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .name {
      margin-left: $item-gap / 2;
    }
  }

  &__favourite {
    color: get-color(black-shades, dark-gray);
    cursor: pointer;

    &:hover {
      color: get-color(base, primary);
      transition: color 0.15s;
    }
  }

  &__image {
    aspect-ratio: 4 / 3;
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    @include grid-container($item-gap);
    @include grid-template-columns(auto 100px);
    justify-content: space-between;
    align-items: center;
    padding: $item-gap;

    .title {
      @include text-truncate();
      margin-right: $item-gap / 2;
    }
  }

  &__stats {
    @include flex-box-container(row, nowrap, flex-start, center);
    font-size: get-font-size(p-tiny);
    color: get-color(black-shades, dark-gray);
  }

  &__stat-item {
    @include flex-box-container(row, nowrap, flex-start, center);

    .count {
      margin-left: $item-gap / 4;
    }

    &:not(:first-child) {
      margin-left: $item-gap * 0.75;
    }
  }

  &__wrapper {
    @include grid-container($item-gap);
    width: 100%;

    @include set-breakpoint(medium) {
      @include grid-template-columns(repeat(2, 1fr))
    }

    @include set-breakpoint(large) {
      @include grid-template-columns(repeat(3, 1fr))
    }
  }
}