.o-sidebar{
  @include grid-container($item-gap / 2);
  width: 190px;

  &__item{
    @include flex-box-container(row, nowrap, flex-start, center);
    padding: $item-gap / 2 $item-gap;
    border-radius: $item-gap / 4;
    color: get-color(base, primary);
    background: get-color(black-shades, white);
    .icon{
      margin-right: $item-gap / 2;
    }

    &.active{
      color: get-color(black-shades, white);
      background: get-color(base, primary);
    }

  }
}