$banner-color: #FAE7E6;
$header-height: 130px;
$image-width: 420px;
$image-width-medium: 300px;
$image-width-small: 240px;

.t-banner {
  @include flex-box-container(row, nowrap, center, center);
  background: $banner-color;
  padding: $item-gap;
  margin-top: -$header-height;
  padding: $header-height * 1.25 $item-gap $item-gap * 2;
  border-radius: 0 0 40px 40px;

  &__details{
    margin-right: $item-gap * 2;
    z-index: 1;
    color: get-color(base, primary);

    .subtitle{
      margin-bottom: $item-gap / 2;
      font-size: get-font-size(p);
    }

    .title{
      margin-bottom: $item-gap;
      font-size: get-font-size(heading, h3);
    }
  }

  &__image{
    position: relative;
    width: $image-width-small / 4;

    .image{
      position: absolute;
      top: -$item-gap * 4;
      right: -10vw;
      width: $image-width-small;
    }
    @include set-breakpoint(small){
      width: $image-width-medium * 0.75;

      .image{
        top: -$item-gap * 6;
        width: $image-width-medium;
      }
    }

    @include set-breakpoint(x-medium){
      width: $image-width;

      .image{
        top: -$item-gap * 8;
        width: $image-width;
        right: auto;
      }
    }
  }

  @include set-breakpoint(small){
    padding: $header-height * 1.5 $item-gap * 2 $item-gap * 2;

    .subtitle{
      font-size: get-font-size(heading, h4);
    }

    .title{
      font-size: get-font-size(heading, h2);
    }
  }

  @include set-breakpoint(x-medium){
    padding: $header-height * 1.5 $item-gap * 2 $item-gap * 4;

    .subtitle{
      font-size: get-font-size(heading, h3);
    }

    .title{
      font-size: get-font-size(heading, h1);
    }
  }

}