.t-home {
  @include grid-container($item-gap);
  padding: $item-gap;

  @include set-breakpoint(medium) {
    grid-gap: $item-gap * 2;
    @include grid-template-columns(190px auto);
    padding: $item-gap * 2;
  }

  &__left{
    @include flex-box-container(column, nowrap, flex-start, center);

    @include set-breakpoint(medium){
      align-items: flex-start;
    }
  }

  &__right{
    @include flex-box-container(column, nowrap, flex-start, center);

    @include set-breakpoint(medium){
      align-items: flex-start;
    }
  }

  .o-sidebar {
    display: none;

    @include set-breakpoint(medium) {
      display: grid;
    }
  }

  .sidebar-hidden {
    display: block;

    @include set-breakpoint(medium) {
      display: none;
    }
  }
}