.t-profile {
  @include grid-container($item-gap);
  padding: $item-gap;

  @include set-breakpoint(medium) {
    grid-gap: $item-gap * 2;
    @include grid-template-columns(190px auto);
    padding: $item-gap * 2;
  }

  &__left{
    @include flex-box-container(column, nowrap, flex-start, center);

    @include set-breakpoint(medium){
      align-items: flex-start;
    }
  }

  &__right{
    @include flex-box-container(column, nowrap, flex-start, center);
    margin-top: $item-gap;

    @include set-breakpoint(medium){
      margin-top: 0;
      align-items: flex-start;
    }
  }

  &__title{
    display: none;

    @include set-breakpoint(medium){
      display: block;
      margin-bottom: $item-gap * 1.5;
    }
  }

  .o-sidebar {
    margin-top: $item-gap;
    display: none;

    @include set-breakpoint(medium) {
      display: grid;
      margin-top: $item-gap * 2;
    }
  }

  .sidebar-hidden {
    display: block;
    margin-top: $item-gap;

    @include set-breakpoint(medium) {
      display: none;
    }
  }

  .a-tabs{
    margin-bottom: $item-gap;

    @include set-breakpoint(medium){
      margin-bottom: $item-gap * 1.5;
    }
  }
}