.m-navigation{
  @include flex-box-container(row, nowrap, flex-start, center);

  &__item{
    color: get-color(base, primary);

    &:hover{
      cursor: pointer;
      opacity: 0.8;
    }

    &:not(:first-child){
      margin-left: $item-gap * 2;
    }
  }
}