.m-profile-info{
  @include flex-box-container(column, nowrap, flex-start, center);

  &__image{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;

    .image{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name{
    margin-top: $item-gap;
  }

  &__email{
    margin-top: $item-gap / 4;
    color: get-color(black-shades, dark-gray);
  }

  @include set-breakpoint(medium){
    align-items: flex-start;
  }
}