// Text overflow truncate
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@mixin absolute-vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}

@mixin pseudoelem($postion, $content:null){
  position: $postion;

  @if $content==null {
    content: "";
  } @else {
    content: "#{$content}";
  }

  @content
}

@mixin box-shadow($color, $y-pos:1, $blur:1){
  box-shadow: 0 #{$y-pos}px #{$blur}px 0 $color;
}