// All-in-one Flex-box Container ( $direction, $wrap-type, $main-axis, $cross-axis,$packing)
@mixin flex-box-container ($args...){
  display: flex;
  @if(length($args)==1){
    flex-flow: nth($args,1);
  } @else if(length($args)==2){
    flex-flow: nth($args,1) nth($args,2);
  }@else if(length($args)==3){
    flex-flow: nth($args,1) nth($args,2);
    justify-content: nth($args,3);
  }
  @else if(length($args)==4){
    flex-flow: nth($args,1) nth($args,2);
    justify-content: nth($args,3);
    align-items: nth($args,4);
  }@else if(length($args)==5){
    flex-flow: nth($args,1) nth($args,2);
    justify-content: nth($args,3);
    align-items: nth($args,4);
    align-content: nth($args,5);
  }
}


// Usage
// @include flex-box-container(row, wrap, space-between);
