.a-button{
  background: get-color(base, primary);
  color: get-color(black-shades, white);
  padding: $item-gap * 0.75 $item-gap;
  border-radius: $item-gap / 4;
  border: 0;
  cursor: pointer;

  &:hover{
    opacity: 0.8;
  }

  &--secondary{
    background: get-color(black-shades, white);
    color: get-color(base, primary);
  }

  &--icon{
    @include flex-box-container(row, nowrap, center, center);

    .a-icons{
      margin-right: $item-gap / 2;
    }
  }

  &--light{
    background: get-color(primary-shades, lighter);
    color: get-color(base, primary);
  }
}