$select-arrow-color: get-color(base, primary);

.a-select {
  padding: $item-gap * 0.75 $item-gap;
  min-width: 180px;
  border-radius: $item-gap / 4;
  color: get-color(base, primary);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: get-color(primary-shades, lighter);
  background-image: linear-gradient(45deg, transparent 56%, $select-arrow-color 50%), linear-gradient(135deg, $select-arrow-color 46%, transparent 51%), linear-gradient(45deg, $select-arrow-color 40%, transparent 50%), linear-gradient(135deg, transparent 54%, $select-arrow-color 51%);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 1.50em, calc(100% - 15px) 1.5em, calc(100% - 15px) 1em, calc(100% - 20px) 1em;
  background-size: 5px 5px, 5px 5px, 5px 5px, 5px 5px;
  border: 0;

  option{
    color: $select-arrow-color;
  }
}