.a-tabs {
  @include flex-box-container(row, nowrap, flex-start, center);
  width: calc(100vw - #{$item-gap * 2});
  max-width: 600px;

  &__item {
    padding: $item-gap / 2 0;
    color: get-color(base, primary);
    opacity: 0.7  ;
    transition: opacity 0.15s;
    display: inline-flex;
    position: relative;
    margin-right: $item-gap * 2;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    &.active {
      opacity: 1;

      &::after {
        height: 4px;
        width: calc(100% - #{$item-gap * 2});
        background: currentColor;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 40px;
      }
    }
  }
}
